{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="title" >
        <h1><b style="color:white;text-shadow:1px 1px black; text-align:center; margin-top:400px; margin-left:40%;">Welcome to the Neighborhood</b></h1>
        <h3 style="margin-top:6%"><i style="color: white; margin-left:40%;">Get to Know your Sorroundings!!</i></h3>
        <a href="{% url 'hood' %}" class="btn btn-primary" style="margin-left: 50%;"><b style="color: #d1d8e0;">Join Hood</b></a>
    </div>

</div>
{% endblock %}